@import 'leaflet/dist/leaflet.css';

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-code-font-size: 93.75%;
    --ifm-code-padding-horizontal: 0.2em;

    --ifm-color-primary: #c42408;
    --ifm-color-primary-dark: #b02007;
    --ifm-color-primary-darker: #a71f07;
    --ifm-color-primary-darkest: #891906;
    --ifm-color-primary-light: #d82809;
    --ifm-color-primary-lighter: #e12909;
    --ifm-color-primary-lightest: #f53514;

    /* to be on top of leaflet */
    --ifm-z-index-dropdown: 1100;
    --ifm-z-index-fixed: 1200;
    --ifm-z-index-overlay: 1400;

    --code-background: #fcfbf7;
    --code-foreground: #807a78;
    --code-token-comment: #bdbbb3;
    --code-token-keyword: #db5877;
    --code-token-punctuation: #c57485;
    --code-token-num: #2992cf;
    --code-token-string: #7faf59;
    --code-token-regexp: #77bcbb;
    --code-token-name: #75756a;
    --code-token-function: #bd983c;
    --code-token-type-parameter: #0987e1;

    --code-frame-background-color: #fafbfc;

    --preview-background-color: #fff;
    --preview-border-color: var(--ifm-color-emphasis-300);
    --preview-color: var(--ifm-color-emphasis-700);

    --preview__0: #00e6bb;
    --preview__1: #8bcc00;
    --preview__2: #e600b8;
    --preview__3: #e6c300;
    --preview__4: #63c7e6;
    --preview__5: #ff80ce;
    --preview__6: #ff5f1f;
    --preview__7: #5b5efd;
    --preview__active: #474747;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #fadf1c;
    --ifm-color-primary-dark: #f5d805;
    --ifm-color-primary-darker: #e7cc05;
    --ifm-color-primary-darkest: #bea804;
    --ifm-color-primary-light: #fbe337;
    --ifm-color-primary-lighter: #fbe545;
    --ifm-color-primary-lightest: #fceb6e;

    --code-background: #292828;
    --code-foreground: #eadbba;
    --code-token-comment: #807973;
    --code-token-keyword: #d8655e;
    --code-token-punctuation: #b3544f;
    --code-token-num: #5ed6e6;
    --code-token-string: #88b872;
    --code-token-regexp: #b8d877;
    --code-token-name: inherit;
    --code-token-function: #e6b045;
    --code-token-type-parameter: #28d1cb;

    --code-frame-background-color: #333131;

    --preview-background-color: #242526;

    --preview__0: #00ffd2;
    --preview__1: #b0ff00;
    --preview__2: #ff00f4;
    --preview__3: #fdff00;
    --preview__4: #009fff;
    --preview__5: #ff80ce;
    --preview__6: #ffaa00;
    --preview__7: #aa00ff;
    --preview__active: #fff;
}

@supports (interpolate-size: allow-keywords) {
    :root {
        interpolate-size: allow-keywords;
    }
}


code {
    vertical-align: initial;
}

.navbar__logo {
    height: 2rem;
    width: 2rem;
}

.header-github-link::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    background-color: var(--ifm-navbar-link-color);
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
    transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
    background-color: var(--ifm-navbar-link-hover-color);
}


.member-tag { /* class/interface member tag ('optional'/'readonly') */
    background-color: var(--preview-background-color);
    border: 1px solid var(--preview-border-color);
    border-radius: 1em;
    font-size: min(0.75em, 1rem);
    padding: 0.1em 0.5em;
    font-weight: 500;
}

.indented-section {
    margin-left: 1rem;
    @media (max-width: 576px) {
        margin-left: 0;
    }
}

.beefy-code {
    padding: 0.15em 0.45em;
}

.beefy-code-line {
    padding: 0.5rem 1rem;
    white-space: pre-wrap;
}

.type-parameter, a:has(.type-parameter) {
    color: var(--code-token-type-parameter) !important;
}

.indented-section:has(.edit-this-section) {
    position: relative;

    .edit-this-section {
        opacity: 0;
        font-size: 0.75rem;
        line-height: 1.25;
        position: absolute;
        top: -1rem;
        right: 0;
        left: 0;
        text-align: end;
        transition: opacity var(--ifm-transition-fast) ease-in-out;
    }

    &:is(:hover) .edit-this-section {
        opacity: 1;
    }
}


.code-token {
    &[data-type="comment"] {
        color: var(--code-token-comment);
    }

    &[data-type="keyword"] {
        color: var(--code-token-keyword);
    }

    &[data-type="num"] {
        color: var(--code-token-num);
    }

    &[data-type="string"] {
        color: var(--code-token-string);
    }

    &[data-type="regexp"] {
        color: var(--code-token-regexp);
    }

    &[data-type="name"] {
        color: var(--code-token-name);
    }

    &[data-type="function"] {
        color: var(--code-token-function);
    }

    &[data-type="punctuation"] {
        color: var(--code-token-punctuation);
    }
}

.code-error {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
