.monaco-editor {
    outline-width: 0 !important;
    font-family: var(--ifm-font-family-base) !important;
    --monaco-monospace-font: var(--ifm-font-family-monospace) !important;

    .shadow-root-host {
        font-family: var(--ifm-font-family-base) !important;
    }
}

.decorationsOverviewRuler {
    /* to fix wierd top border in scrollbar */
    top: -1px !important;
}

.overflowingContentWidgets > div,
.overflowingOverlayWidgets > div {
    z-index: 1500 !important;
}
